* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** General Styles */

.heroWrapper,
.whoWeAreWrapper,
.videoWrapper,
.whyChooseUsWrapper {
  font-family: "Inter", sans-serif;
}
.sectionSubTitle,
.sectionMainTitle {
  font-family: "Prata", sans-serif;
}
.sectionMainTitle {
  color: #1c1c1c;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1em;
  margin-bottom: 1rem;
}
.sectionSubTitle {
  color: #507882;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 1rem;
}
.sectionDesc {
  color: #808080;
  font-size: 16px;
  font-weight: 400;
}
.largeButton {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  background-color: #507882;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.sectionIconRows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.sectionIconRow {
  display: flex;
  gap: 1rem;
}
.sectionIconTitle {
  font-family: "Prata", sans-serif;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 0.25rem;
}
/** General Styles */
.heroWrapper {
  background: url(/images/hero_background_image.jpg) center no-repeat;
  background-size: cover;
}
.heroContent {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.heroInfoContent {
  max-width: 600px;
}
.heroSubTitle,
.heroMainTitle {
  font-family: "Prata", sans-serif;
}
.heroMainTitle {
  font-size: 50px;
  font-weight: normal;
  color: #1c1c1c;
}
.heroSubTitle {
  font-size: 14px;
  font-weight: 500;
  color: #507882;
}
.heroDesc {
  font-size: 16px;
  color: #808080;
  max-width: 500px;
}

.heroImg {
  width: 100%;
  height: 100%;
}

/*? Who We Are */
.whoWeAreWrapper {
  background: radial-gradient(at center center, #ffffffcc 0%, #ffffff 75%), url(/images/who_we_are_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.whoWeAreContent {
  max-width: 1280px;
  margin: 5rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 6rem;
  padding-right: 0rem;
  padding-bottom: 8rem;
}
.whoWeAreImgSide,
.whoWeAreInfoSide {
  width: 100%;
}
.whoWeAreImgSide {
  position: relative;
}
.whoWeAreImgContent--front {
  width: 100%;
  position: absolute;
  max-width: 400px;
  bottom: -5rem;
  left: -5rem;
}
.whoWeAreImg {
  width: 100%;
  object-fit: cover;
}

.whoWeAreWrapper hr {
  margin: 1rem 0;
}

/*? Video Section */

.videoWrapper {
  background: radial-gradient(at center center, rgba(80, 120, 130, 0.6) 0%, rgba(80, 120, 130, 0.6) 75%), url(/images/video_background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7em 1rem;
  margin-bottom: 2rem;
}
.videoContent {
  min-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoInfoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 650px;
  margin: 0 auto;
}
.videoInfoContent .sectionMainTitle,
.videoInfoContent .sectionDesc {
  color: #fff;
  text-align: center;
}

.play-btn {
  display: inline-block;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playBtnImg {
  transform: translateX(0.25rem);
}

.play-btn:hover {
  background-color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1001;
  width: 80%;
  max-width: 800px;
  height: 45%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.close-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  font-size: 50px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 1002;
  border-radius: 50%;
}

/*? Why Choose Us */

.whyChooseUsContent {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.whyChooseUsImgContent {
  position: relative;
}
.whyChooseUsImg {
  width: 100%;
  object-fit: cover;
}
.whyChooseUsTagBox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  text-align: center;
  padding: 1rem 2rem;
  padding-right: 1.5rem;
}
.whyChooseUsTagBox .sectionMainTitle {
  color: #507882;
  font-size: 55px;
  font-weight: normal;
}
.whyChooseUsTagBox .sectionDesc {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 600;
}
.whyChooseUsWrapper .sectionIconRow {
  align-items: center;
}
.whyChooseUsWrapper .sectionIconContent {
  background-color: #e1eff0;
  border-radius: 50%;
  padding: 1rem;
  max-width: 84px;
  max-height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}
