* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** General Styles */

.heroWrapper,
.whoWeAreWrapper,
.videoWrapper,
.whyChooseUsWrapper,
.whatWeOfferWrapper,
.consultationWrapper,
.howItWorksWrapper,
.choosePackageWrapper,
.assistantWrapper,
.testimonialWrapper {
  font-family: "Inter", sans-serif;
}
.sectionSubTitle,
.sectionMainTitle {
  font-family: "Prata", sans-serif;
}
.sectionMainTitle {
  color: #1c1c1c;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1em;
  margin-bottom: 1rem;
}
.sectionSubTitle {
  color: #507882;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 1rem;
}
.sectionDesc {
  color: #808080;
  font-size: 16px;
  font-weight: 400;
}
.largeButton {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  background-color: #507882;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.largeButton.empty {
  background-color: #fff;
  color: #507882;
  border: 2px solid #507882;
  padding: 10px 30px;
}

.sectionIconRows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.sectionIconRow {
  display: flex;
  gap: 1rem;
}
.sectionIconTitle {
  font-family: "Prata", sans-serif;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 0.25rem;
}
/** General Styles */
.heroWrapper {
  background: url(/images/hero_background_image.jpg) center no-repeat;
  background-size: cover;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroContent {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.heroInfoContent {
  max-width: 500px;
}
.heroSubTitle,
.heroMainTitle {
  font-family: "Prata", sans-serif;
  line-height: 1.1em;
  margin-bottom: 0.5rem;
}
.heroMainTitle {
  font-size: 60px;
  font-weight: normal;
  color: #1c1c1c;
}
.heroSubTitle {
  font-size: 14px;
  font-weight: 500;
  color: #507882;
}
.heroDesc {
  font-size: 16px;
  color: #808080;
  max-width: 500px;
}

.heroImg {
  width: 100%;
  height: 100%;
}

/*? Who We Are */
.whoWeAreWrapper {
  background: radial-gradient(at center center, #ffffffcc 0%, #ffffff 75%), url(/images/who_we_are_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.whoWeAreContent {
  max-width: 1280px;
  margin: 5rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 6rem;
  padding-right: 0rem;
  padding-bottom: 8rem;
}
.whoWeAreImgSide,
.whoWeAreInfoSide {
  width: 100%;
}
.whoWeAreImgSide {
  position: relative;
}
.whoWeAreImgContent--front {
  width: 100%;
  position: absolute;
  max-width: 400px;
  bottom: -5rem;
  left: -5rem;
}
.whoWeAreImg {
  width: 100%;
  object-fit: cover;
}

.whoWeAreWrapper hr {
  margin: 1rem 0;
}

/*? Video Section */

.videoWrapper {
  background: radial-gradient(at center center, rgba(80, 120, 130, 0.6) 0%, rgba(80, 120, 130, 0.6) 75%), url(/images/video_background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7em 1rem;
  margin-bottom: 2rem;
}
.videoContent {
  min-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoInfoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 650px;
  margin: 0 auto;
}
.videoInfoContent .sectionMainTitle,
.videoInfoContent .sectionDesc {
  color: #fff;
  text-align: center;
}

.play-btn {
  display: inline-block;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playBtnImg {
  transform: translateX(0.25rem);
}

.play-btn:hover {
  background-color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1001;
  width: 80%;
  max-width: 800px;
  height: 45%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.close-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  font-size: 50px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 1002;
  border-radius: 50%;
}

/*? Why Choose Us */

.whyChooseUsContent {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.whyChooseUsImgContent {
  position: relative;
}
.whyChooseUsImg {
  width: 100%;
  object-fit: cover;
}
.whyChooseUsTagBox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  text-align: center;
  padding: 1rem 2rem;
  padding-right: 1.5rem;
}
.whyChooseUsTagBox .sectionMainTitle {
  color: #507882;
  font-size: 55px;
  font-weight: normal;
}
.whyChooseUsTagBox .sectionDesc {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 600;
}
.whyChooseUsWrapper .sectionIconRow {
  align-items: center;
}
.whyChooseUsWrapper .sectionIconContent {
  background-color: #e1eff0;
  border-radius: 50%;
  padding: 1rem;
  max-width: 84px;
  max-height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*? What We Offer */

.whatWeOfferContent {
  max-width: 1280px;
  margin: 2rem auto;
}
.whatWeOfferWrapper .sectionSubTitle,
.whatWeOfferWrapper .sectionMainTitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 0.5rem;
}
.whatWeOfferCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.whatWeOfferCard {
  position: relative;
  width: 365px;
  height: 375px;
  perspective: 1000px;
  perspective: 1000;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  position: relative;
  float: left;
  margin: 20px;
  border-radius: 10px;
}
.whatWeOfferCardImgContent {
  max-width: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.whatWeOfferCardImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.whatWeOfferCard .sectionIconTitle,
.whatWeOfferCard .sectionDesc {
  text-align: center;
}
.whatWeOfferCard .sectionIconTitle {
  color: #507882;
}
.whatWeOfferCard--front,
.whatWeOfferCard--behind {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.whatWeOfferCard--front,
.whatWeOfferCard--behind {
  background-size: cover;
  background-position: center center;
  transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
  overflow: hidden;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  background-color: #f5fbfb;
}
.whatWeOfferCard .whatWeOfferCard--front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 1;
}
.whatWeOfferCard:hover .whatWeOfferCard--front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
.whatWeOfferCard--behind {
  background-color: #e1eff0;
}
.whatWeOfferCard .whatWeOfferCard--behind,
.whatWeOfferCard:hover .whatWeOfferCard--behind {
  transform-style: preserve-3d;
}
.whatWeOfferCard .whatWeOfferCard--behind {
  transform: rotateY(180deg);
  z-index: 1;
}
.whatWeOfferCard:hover .whatWeOfferCard--behind {
  transform: rotateY(0deg);
}
.whatWeOfferCard--frontInner,
.whatWeOfferCard--behindInner {
  padding: 40px;
  text-align: center;
  position: relative;
  top: 50%;
  transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
  transform-style: preserve-3d;
  z-index: 2;
}
.whatWeOfferCard--frontInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%) translateX(0px) scale(1);
}
.whatWeOfferCard--behindInner {
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
}
.whatWeOfferCard:hover .whatWeOfferCard--frontInner,
.whatWeOfferCard:hover .whatWeOfferCard--behindInner {
  transform-style: preserve-3d;
}
.whatWeOfferCard:hover .whatWeOfferCard--frontInner {
  transform: translateY(-50%) translateX(-650px) scale(0.88);
}
.whatWeOfferCard--behindInner .sectionIconTitle {
  color: #1c1c1c;
}
.whatWeOfferCard:hover .whatWeOfferCard--behindInner {
  transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
}
.whatWeOfferContent .largeButton {
  font-size: 16px;
}

/*? Consultation Section */

.consultationWrapper {
  background: radial-gradient(at center center, rgba(80, 120, 130, 0.6) 0%, rgba(80, 120, 130, 0.6) 75%), url(/images/consultation_background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5em 1rem;
}
.howItWorksWrapper .sectionSubTitle,
.howItWorksWrapper .sectionMainTitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 0.5rem;
}

/*? How it Works */
.howItWorksWrapper {
  background-color: #f5fbfb;
}
.howItWorksContent {
  padding: 3rem 1rem;
}
.squareCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0;
}
.squareCard {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
}
.squareCardBadge {
  background-color: #e1eff0;
  padding: 7px 21px 7px 21px;
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  top: -1rem;
  font-family: "Prata", sans-serif;
  font-size: 14px;
  color: #507882;
}
.howItWorksWrapper .largeButton {
  font-size: 13px;
  padding: 10px 20px;
}
.squareCard .sectionIconTitle,
.squareCard .sectionDesc {
  text-align: center;
}

/*? Choose Package */

.choosePackageContent {
  max-width: 1280px;
  margin: 2rem auto;
}
.choosePackageWrapper .sectionSubTitle,
.choosePackageWrapper .sectionMainTitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 0.5rem;
}
.choosePackageWrapper .squareCard {
  min-width: 400px;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
}
.choosePackageWrapper .sectionIconTitle {
  font-size: 25px;
  margin-bottom: 2rem;
}
.squareCardList {
  list-style: none;
  padding: 0;
}
.squareCardListItem {
  text-align: center;
  color: #808080;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #e1eff0;
}
.choosePackageWrapper .largeButton {
  border: 2px solid #507882;
  padding: 10px 30px;
}

/*? Assistant Section */

.assistantContent {
  max-width: 1280px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.assistantWrapper .sectionMainTitle,
.assistantWrapper .sectionDesc {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 0.75rem;
}

/*? Testimonials */

.testimonialWrapper {
  background: radial-gradient(at center center, #e1eff0cc 0%, #ffffff 75%), url(/images/testimonial_background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5em 1rem;
}
.testimonialWrapper .sectionSubTitle,
.testimonialWrapper .sectionMainTitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 0.75rem;
}
.testimonialCard {
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonialCardComment {
  color: #808080;
  font-size: 1.3rem;
  margin: 2rem 0;
  text-align: center;
}
.testimonialCardImg {
  border-radius: 50%;
  margin-bottom: 1rem;
}
.testimonialCardPersonName {
  color: #507882;
  font-size: 16px;
}
.testimonialCardPersonJob {
  color: #1c1c1c;
  font-size: 13px;
}
.splide__pagination {
  bottom: -3rem;
}
.splide__pagination__page {
  background-color: #e1eff0;
  width: 12px;
  height: 12px;
}
.splide__pagination__page.is-active {
  background-color: #507882;
}
.splide__arrow {
  background-color: transparent;
}
.splide__arrow svg {
  fill: #507882;
}
